body {
    padding: 0;
    margin: 0;
    font-family: arial;
    color: #6B7370;
}

div {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}

button, input {
  margin: 0;
  padding: 10px 20px;
  border: none;
  font: inherit;
  line-height: 20px;
  background-color: #F9C593;
  color: #fff;
}

.container {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
}

.col-5 {
    width: 20%;
    float: left;
}

#area {
    position: relative;
}

#monty:after,
.header:after {
    content: '';
    display: block;
    clear: both;            
}

.header {
    margin: 15px 0;
}

.header h1 {
    float: left;
    margin: 0;
    margin-top: 10px;
    font-size: 30px;
}

/* Game area */

.door {
    height: 0px;
    padding: 9.6% 0;
    background-color: #89B2A2;
    border: 2px solid #fff;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}

.door:after {
    color: #fff;
    display: block;
    padding: 4px;
    float: right;
    margin-top: -50%;
    font-weight: bold;
}

.goat {
    background: url('../img/goat.png') no-repeat center center #B0D1B2;
    background-color: #B0D1B2 !important;
}

.goat-happy {
    background: url('../img/goat-happy.gif') no-repeat center center #B0D1B2;
    background-color: #B0D1B2 !important;
}

.goat-sad {
    background: url('../img/goat-sad.gif') no-repeat center center #B0D1B2;
    background-color: #B0D1B2 !important;
}

.rock {
    background: url('../img/rock.png') no-repeat center center #5C6361;
}

.goat, .goat-happy, .goat-sad, .rock {
    -o-background-size: 100% auto, auto;
    -moz-background-size: 100% auto, auto;
    -webkit-background-size: 100% auto, auto;
    background-size: 100% auto, auto;
}

.selected {
    background-color: #FAFAD4;
}

.opened {
    background-color: #5C6361;
    cursor: default;
}

/* Counters and progress */

#time {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

#timeprogress-container {
    background-color: #f2f2f2;
    float: left;
    margin-top: 15px;
    width: 120px;
}

#timeprogress {
    height: 8px;
    background-color: gray;
    width: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
       
#scores {
    text-align: center;
    width: 120px;
    padding: 10px;
    float: right;
    background-color: #f2f2f2;
}

#score {
    font-size: 17px;
    font-weight: bold;
}

#highscore {
    font-size: 12px;
    color: #999;
}

/* Game end */

.notification {
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    display: none;
    padding: 35px;
}

.notification h2 {
    font-size: 35px;
    color: #FB7968;
    margin: 25px 0;
}

#howtoplay {
    display: block;
    text-align: left;
    padding: 10px 25px;
}

#gameover {
    display:none;
}

#reset {
    opacity: 0;
    visibility:hidden;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

