body {
    padding: 0;
    margin: 0;
    font-family: arial;
    color: #6B7370;
    font-size: 16px;
    line-height: 24px;
}

div {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}

a, a:visited {
    color: #89B2A2;
}

button, input {
      margin: 0;
      padding: 10px 20px;
      border: none;
      font: inherit;
      line-height: 20px;
      background-color: #89B2A2;
      color: #fff;
}

button:hover {
    cursor: pointer;
}

.container {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
}

.col-5 {
    width: 20%;
    float: left;
}

.col-4 {
    width: 25%;
    float: left;
}

.col-3 {
    width: 33.3%;
    float: left;

}

#monty:after,
.header:after {
    content: '';
    display: block;
    clear: both;            
}

.header {
    margin: 35px 0 15px;
}

.header h1 {
    float: left;
    margin: 0;
    margin-top: 20px;
    font-size: 30px;
}

@media only screen and (max-width : 360px) {
    .header h1 {
    font-size: 25px;
    }
}

/* Game area */

.door {
    height: 0px;
    padding: 9.6% 0;
    background-color: #89B2A2;
    border: 2px solid #fff;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
    position:relative;
}

.door:after {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    display: block;
    font-weight: bold;
}

.goat {
    background: url('../img/goat.png') no-repeat center center #B0D1B2;
    background-color: #B0D1B2 !important;
}

.goat-happy {
    background: url('../img/goat-happy.gif') no-repeat center center #B0D1B2;
    background-color: #B0D1B2 !important;
}

.goat-sad {
    background: url('../img/goat-sad.gif') no-repeat center center #B0D1B2;
    background-color: #B0D1B2 !important;
}

.wolf {
    background: url('../img/wolf.png') no-repeat center center #5C6361;
}

.goat, .goat-happy, .goat-sad, .wolf {
    -o-background-size: 110% auto, auto;
    -moz-background-size: 110% auto, auto;
    -webkit-background-size: 110% auto, auto;
    background-size: 110% auto, auto;
}

.col-3.goat, .col-3.goat-happy, .col-3.goat-sad, .col-3.wolf,
.col-4.goat, .col-4.goat-happy, .col-4.goat-sad, .col-4.wolf {
    -o-background-size: 70% auto, auto;
    -moz-background-size: 70% auto, auto;
    -webkit-background-size: 70% auto, auto;
    background-size: 70% auto, auto;
}

.selected {
    background-color: #FAFAD4;
}

.opened {
    background-color: #5C6361;
    cursor: default;
}

/* Counters and progress */

#time {
    float: left;
    margin-right: 10px;
    margin-top: 7px;
    color: #eee;
}

#timeprogress-container {
    float: left;
    margin-top: 15px;
    width: 120px;
}

#timeprogress {
    height: 8px;
    background-color: #f2f2f2;
    width: 120px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#hidden-wolves {
    float: right;
    margin-top: 6px;
    color: #999;
    font-size: 14px;
}
       
#scores {
    text-align: center;
    padding: 10px 15px;
    float: right;
    border: 2px solid #eee;
}

#score {
    font-size: 16px;
    font-weight: bold;
    margin-top: -4px;
}

#highscore {
    font-size: 14px;
    color: #999;
}

/* Game end */

.notification {
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    text-align: center;
    display: none;
    padding: 35px;
   

}

.notification h2 {
    font-size: 2em;
    color: #B0D1B2;
    margin: 30px 0 70px 0;
    -webkit-transition: font-size 1s ease-in-out;
    -moz-transition: font-size 1s ease-in-out;
    -o-transition: font-size 1s ease-in-out;
    transition: font-size 1s ease-in-out;
}
#howtoplay {
    display: block;
    text-align: left;
    padding: 20px;
    margin: 75px 0 50px 0;
    position: static;
    border: 2px solid #eee;
    position: relative; 
}

#close {
    position: absolute; 
    top: -15px; 
    right: 20px; 
    font-size: 14px;
    padding: 5px 10px;
    background-color: #FB7968;
}

#gameover {
    display:none;
    font-weight:bold;
    z-index: 9999;
    padding-top: 120px;
}

